.box {
  font-size: 1.2em;
}
.box .description {
  font-size: 1.3em;
}
.inputsList,
.resultBox {
  width: 95%;
  display: flex;
  flex-direction: column;

  padding: 15px;
  margin-bottom: 20px;
  gap: 30px;

  box-shadow:
    -2px -2px 3px #ffffff70,
    4px 4px 8px #000000;
  border-radius: 7px;
  border: 2px solid #9999992c;

  background-image: linear-gradient(
    to right,
    transparent,
    #ffb255d3,
    #999,
    transparent
  );
}
.inputsList label {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
.inputsList label input {
  width: 30%;
  max-width: 120px;
  font-size: 1.1em;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 5px;
  outline: 1px solid #999;
  border: none;
}

.boxRate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 7px;
  font-size: 1.2em;

  box-shadow:
    -2px -2px 4px #ffffff6b,
    3px 3px 6px #000000,
    inset 5px 5px 10px #000,
    inset 10px 10px 40px #00000087,
    inset -10px -10px 12px #ffffff27;
  border: 2px solid #f7a848;
}
.boxRate input {
  max-width: 50%;
  font-size: 1em;

  border: 2px solid #99999961;
  margin: auto;
  border-radius: 10px;
  padding: 1em 2em;
  outline: 2px solid var(--accent-bg);
}
.box button {
  font-size: 1em;
  min-height: 100px;
  max-height: 100px;
  text-shadow: 0px 1px 0px #a09b9b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;

  background: radial-gradient(circle, #ffb2556b 10%, #603501 100%);
  color: #747272;
  background: linear-gradient(90deg, #999, #fff, #fff, #999);
  background-color: #af6a0347;
  border-radius: 50px;
  border: 1px solid #f6f0f0;
  box-shadow:
    -2px -2px 1px #ffffffc2,
    2px 2px 4px #000,
    inset -10px -10px 10px #999,
    inset 10px 10px 10px #ffffff9c;
  border: 2px solid #f3b249;
  outline: none;
  transition: all 0.5s;
  margin: auto;
}
.box button:hover {
  background: linear-gradient(90deg, #ab6c07, #f3b249, #f3b249, #af6a03);
  box-shadow:
    -2px -2px 4px #f3b249d2,
    2px 2px 4px #000,
    inset -10px -10px 10px #f3b249,
    inset 10px 10px 10px #0000007f;
  color: #212020;
}
.box .resultBox {
  font-size: 1.2em;
}
.convertBox {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px;
  border: 2px solid #9999993e;
  box-shadow: 0px 0px 10px #000;
  border-radius: 7px;
  margin-bottom: 20px;
}
.convertBox label {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.convertBox label input {
  font-size: 25px;
  max-width: 150px;
  padding: 5px 7px;
  border: 1px solid #ab6c07;
  border-radius: 5px;
  outline: 1px solid #f7d40a;
}
